.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &__logo{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        box-shadow: 0 0 10px grey;
        z-index: 1;
        background-color: white;
        position: relative;
        @media only screen and (min-width: 1024px) {
            box-shadow: none;
        }
        a{
            position: absolute;
            left: 13px;
            top: 38%;
            font-size: 22px;
            text-decoration: none;
            color: black;
        }
        img{
            margin: 30px 0;
            width: 50%;
            @media only screen and (min-width: 1024px) {
                width: 25%;
            }
        }
    }
    &__content{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 15px 0px grey;
        background: $color-background-header;
        height: 50px;
        @media only screen and (min-width: 1024px) {
            box-shadow: none;
        }
        p{
            margin-left: 25%;
            @media only screen and (min-width: 1024px) {
                margin-left: 5%;
            }
            @media all and (min-width: 768px) and (max-width: 1023px) {
                margin-left: 10%;
            }
            i{
                margin-right: 5px; 
            }
        }
        input{
            font-weight: 600;
            text-decoration: none;
            border: none;
            background: $color-background-header;
        }
    }
}