$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-tertiary : #99E2D0;
$color-background-footer : #353535;
$color-background-header : rgba(234, 234, 234, 1);
$color-background-main : rgba(246, 246, 246, 1);