.coeur{
    font-size: 20px;
    &:hover{
        font-weight: 900;
        background: linear-gradient(0deg, $color-primary 0%, $color-secondary 70%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: coeur 400ms ease-in-out both;
    }
    @keyframes coeur {
        0%{
            opacity: 0.1;
        }
        100%{
            opacity: 1;
        }
    }
}